@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito:wght@400;600;700;900&family=Ubuntu:wght@500&display=swap');

//font 
$text-font-nunito:'Nunito', sans-serif;
$text-font-lato:'Lato', sans-serif;
$text-font-ubuntu:'Ubuntu', sans-serif;

//colors
$primary-color: #FFFFFF;
$Primary-titles: #000000;


//media queries
$mobile:480px;
$desktop: 1025px;